<header class="bg-white border-bottom py-1">
    <div class="container-fluid">
      <div class="mb-npx">
        <div class="row align-items-center">
          <div class="col-sm-8 col-12 mb-4 mb-sm-0">
            <h6 class="ls-tight text-muted" style="font-weight: 100;">Sites > Art Station Online</h6>
          </div>
          <div class="col-sm-6 col-12 text-sm-end">
            <div class="hstack gap-2 justify-content-end">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>