<div>
    <div class="mb-5">
      <h4>Rareapps subdomain for your Notion site</h4>
      <p>You can start using Rareapp features free once a sub-domain is claimed</p>
    </div>
    <div class="card mb-5">
        <div class="card-body">                  
            <div class="row g-5">
                <div class="col-12">
                  <div>
                    <h4>Claim sub-domain</h4>
                    <div class="input-group position-relative mt-5">
                        <input type="text" class="form-control" aria-label="Choose email" aria-describedby="">
                        <span class="input-group-text" id="">.rareapps.xyz</span>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
  
      <div class="card mb-5">
        <div class="card-body">                  
            <div class="row g-5">
                <div class="col-12">
                  <div>
                    <h4>Add 'share to web' link of your Notion page</h4>
                    <p>Accessing Rareapps sub-domain will open this Notion site</p>
                    <input type="text" class="form-control mt-5" placeholder="">
                  </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="ms-auto">
                        <button class="btn btn-sm btn-dark" data-toggle="modal" data-target="#exampleModal">
                            Enable sub-domain
                          </button>
                    </div>
                </div>
            </div>
        </div>
      </div>            
  </div>