<div>
    <div class="mb-5">
      <h4>Rareapps subdomain for your Notion site</h4>              
    </div>
    <div class="card mb-5" style="border: 1px solid #00dc86;">
        <div class="card-body">                  
            <div class="row g-5">
                <div class="col-12">
                    <div class="d-flex align-items-center">
                        <div>
                            <h4>Sub-domain is Active</h4>
                        </div>
                        <div class="ms-auto">
                            <div class="icon icon-shape bg-success text-white text-lg rounded-circle">
                                <span class="material-symbols-outlined">
                                    done
                                    </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>
  
      <div class="card mb-5" >
        <div class="card-body">                  
            <div class="row g-5">
                <div class="col-12">
                    <div class="d-flex align-items-center">
                        <div>
                            <p>Do you want to change your sub-domain?</p>
                        </div>
                        <div class="ms-auto">
                            
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        
                        <div class="ms-auto">
                            <button class="btn btn-sm btn-dark" data-toggle="modal" data-target="#exampleModal">
                                Change sub-domain
                              </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>  
      
      <div class="card mb-5" >
        <div class="card-body">                  
            <div class="row g-5">
                <div class="col-12">                            
                    <div>
                        <h4>Delete sub-domain</h4>
                    </div>
                    <p>
                        Once deleted,Notion page will not be accessible from https://notion.rareapps.xyx.
                        <br>
                        https://mydomain.com and Notion share to web link will remain active.
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="ms-auto">
                            <button class="btn btn-sm btn-danger mt-5" data-toggle="modal" data-target="#exampleModal">
                                Disconnect sub-domain
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>  
  </div>